@model IEnumerable<Filament>
@{ 
    ViewData["Title"] = "Index";
}

<h1>Lijst met filamenten</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Kleur</th>
            <th>Kost per rol</th>
            <th>Gewicht</th>
            <th>Aantal meter</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var f in Model){
        <tr>
            <td>@f.Id</td>
            <td>@f.Type</td>
            <td>@f.Kleur</td>
            <td>@f.KostPerRol</td>
            <td>@f.AantalKg</td>
            <td>Aantal meter</td>
        </tr>
        }
    </tbody>
</table>